	*{
		margin: 0;
		padding: 0;
	}
	body{
		position: relative;
		font-size: 13px;
		color: #333;
		line-height: 1.7;
		font-family: "Helvitica Neue",Helvitica,Arial,"Hiragino Sans GB","Microsoft YaHei","Arial Regular","Microsoft JhengHei",sans-serif;
	}
	div{
		display: block;
	}
	dl{
		display: block;
	}
	ul li{
		display: block;
		list-style: none;
	}
	a{
		color: #333;
		text-decoration: none;
	}
	h3{
		font-weight: 400;
	}
	.global_header{
		position: relative;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100px;
		background: #000;
		}
	.global_header .header_inner{
		height: 87px;
		max-width: 1220px;
		margin: 0 auto;
		position: relative;
	}
	.inner_img{
		float: left;
		margin-top: 26px;
		margin-left: 25px;
	}
	.global_header .header_inner .account_nav{
		float: left;
		margin-left: 85px;
	}
	.global_header .header_inner .account_nav li{
		float: left;
		height: 100px;
		width: 100px;
	}
	.global_header .header_inner .account_nav li a{
		display: block;
		box-sizing: border-box;
		padding-top: 28px;
		height: 100px;
		text-align: center;
		font-size: 12px;
		color: #bbb;
	}
	.global_header .header_inner .account_nav li a span{
		display: block;
		font-weight: 700;
		font-size: 14px;
		color: #fff;
	}
	.global_header .header_inner .account_right{
		position: absolute;
		top: 38px;
		right: 0;
	}
	.global_header .header_inner .account_right .header_search{
		float: left;
		margin-right: 15px;
		margin-top: -2px;
		background: #2b2b2b;
		border-radius: 20px;
		width: 166px;
		height: 30px;
	}
	.global_header .header_inner .account_right .header_search input{
		box-sizing: border-box;
    	border: 0;
    	border-radius: 20px;
    	background-color: #2b2b2b;
    	font-size: 12px;
    	color: #fff;
    	width: 120px;
    	height: 28px;
    	padding: 4px 0;
    	margin-left: 10px;
    	outline: none;
    	border-bottom-left-radius: 2px;
    	border-top-left-radius: 2px;
    }
	.global_header .header_inner .account_right .header_appDownload{
		width: 180px;
		display: inline-block;
		float: right;
		position: relative;
		color: #fff;
		left: 40px;
		font-size: 14px;
	}
	.global_header .header_inner .account_right .inner_login{
		float: right;
		margin-top: 3px;
	}
	.global_header .header_inner .account_right .inner_login a{
		float: left;
		font-size: 12px;
		color: #fff;
	}
	.global_header .header_inner .account_right .inner_login .account_seperate{
		margin: 2px 7px 0 6px;
		float: left;
		width: 1px;
		background: #ccc;
		height: 14px;
	}
	.wrap{
		width: 100%;
    	position: relative;
	}
	/* wrap-main-banner */
	.main_banner{
		background: #f7f7f7;
		padding: 40px 0;
	}
	.main_banner .banner_box{
		max-width: 1220px;
    	margin: 0 auto;
    	height: 465px;
    	text-align: center;
    	position: relative
	}
	.banner_box .global_gaNode{
		display: block;
		float: left;
		width: 665px;
		height: 465px;
	}
	.banner_box .global_gaNode img{
		display: block;
    	width: 665px;
   		margin-right: 5px;
    	height: 100%;
    	overflow: hidden;
	}
	.banner_box .banner_right{
		display: block;
		float: right;
		width: 555px;
		height: 465px;
	}
	.banner_box .banner_right .banner{
		display: block;
		float: left;
		width: 275px;
		height: 240px;
		padding-right: 2.5px;
	}
	.banner_box .banner_right .banner_2 a img,.banner_box .banner_right .banner_3 a img{
		width: 275px;
		display: block;
		height: 240px;
		padding-left: 2.5px;
	}
	.banner_box .banner_right .banner_4{
		width: 555px;
		display: block;
		height: 225px;
		padding-top: 8px;
	}
	.banner_box .banner_right .banner_4 a img{
		width: 555px;
		display: block;
		height: 220px;
	}
	/* wrap-main-video */
	.main_video {
		background: #eceff1;
		padding: 40px 0;
		width: 100%;
	}
	.media_line {
		height: 1px;
		top:11px;
		background: #dbdedf;
		position: relative;
		width: 1220px;
		margin: 0 auto;
	}
	.media_title {
		text-align: center;
		position: relative;
		font-size: 24px;
		line-height: 24px;
		width: 360px;
		margin: 0 auto;
		margin-bottom: 30px;
		background: #eceff1;
		color: #333; 
	}
	.diamond {
		position: relative;
		top: -5px;
		display: inline-block;
		margin: 0 20px;
		width: 8px;
		height: 8px;
		background: #000;
		transform: rotate(45deg);
	}
	.media_box {
		max-width: 1220px;
		text-align: center;
		margin: 0 auto;
		height: 465px;
	}
	.media_left {
		float: left;
		margin-right: 18px;
		width: 220px;
		min-width: 160px;
	}
	.desc {
		height: 318px;
		background: #000;
		color: #fff;
		font-size: 40px;
		position: relative;
	}
	.desc_1 {
		padding-top: 34px;
		letter-spacing: 4px;
		font-weight: 700;
	}
	.desc_2 {
		font-size: 30px;
		margin-top: 10px;
	}
	.desc_3 {
		display: block;
		width: 40px;
		padding: 0 20px;
		margin: 20px auto 40px;
		line-height: 16px;
		border: 1px solid #fff;
		border-radius: 10px;
		font-size: 14px;
		color: #fff;
	}
	.desc_4 {
		display:inline-block;
		width: 80%;
		margin: 0 auto;
		border-top: 1px solid rgba(255,255,255,.6);
		padding-top: 30px;
		font-size: 14px;
		line-height: 24px;
	}
	.text {
		box-sizing: border-box;
    	margin-top: 19px;
    	/*margin-bottom:-20px; */
	}
	.p1 {
		display: block;
    	width: 220px;
   		height: 128px;
    	overflow: hidden;
	}
	.img1 {
		width: 220px;
    	height: 128px;
	}
	.media_right {
		float: right;
	}
	.p4 {
		display: block;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	.img4 {
		width: 277px;
		height: 465px;
		display: block;
	}
	.media_middle {
		float: left;
		width: 690px;
	}
	.clear{
		clear: none;
	}
	.media_box .media_middle .series_item1, .media_box .media_middle .series_item2{
		padding-bottom: 17px;
	}
	.media_box .media_middle li{
		box-sizing: border-box;
    	float: left;
    	width: 50%;
    	padding: 9px;
	}
	.media_box .media_middle li a{
		position: relative;
    	width: 100%;
    	display: block;
	}
	.media_box .media_middle li a img{
		width: 336px;
    	height: 224px;
    	width: 100%!important;
    	height: auto!important;
    	display: block;
	}
	.media_box .media_middle li a h3{
		position: absolute;
    	bottom: 0;
    	width: 100%;
    	height: 45px;
    	line-height: 45px;
    	text-align: left;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	background: rgba(255,255,255,.7);
    	color: #000;
	}
	.media_box .media_middle li a h3 .t_line{
		position: relative;
		top: 2px;
		display: inline-block;
		width: 10px;
		height: 16px;
		border-left: 4px solid #8692a6;
	}
	.shadow_inside{
		display: block;
    	position: absolute;
    	top: 0;
    	z-index: 1;
    	width: 100%;
    	height: 100%;
    	box-shadow: inset 0 0 180px rgba(0,0,0,.4);
	}
	.main_x{
		background: #222;
		padding: 40px 0;
	}
	.main_x .media_line{
		background: #3a3a3a;
	}
	.main_x .x_title{
		background: #222;
    	color: #f1f1f1;
	}
	.main_x .diamond{
		background: #f1f1f1;
	}
	.main_x .media_left .desc{
		background: #3a456e;
	}
	.main_x .media_right{
		float: left;
	}
	.main_x .media_right a{
		display: block;
    	width: 100%;
    	height: 100%;
    	box-sizing: border-box;
	}
	.main_x .media_right .hide_edge{
		display: block;
    	width: 277px;
    	height: 465px;
    	overflow: hidden;
	}
	.big_img{
		width: 277px;
    	height: 465px;
    	display: block;
	}
	.main_x .media_box .media_middle{
		float: right;
	}
	.main_x .media_middle li:nth-child(1) a h3 .t_line{
		border-left-color: #e4b5be;
	}
	.main_x .media_middle li:nth-child(2) a h3 .t_line{
		border-left-color: #6f6d9b;
	}
	.main_x .media_middle li:nth-child(3) a h3 .t_line{
		border-left-color: #74a863;
	}
	.main_x .media_middle li:nth-child(4) a h3 .t_line{
		border-left-color: #c4a85b;
	}
	.x_list{
		max-width: 1220px;
    	margin: 20px auto 0;
    	text-align: center;
    	height: 276px;
	}
	.x_list li{
		float: left;
    	width: 290px;
    	margin-right: 17px;
	}
	.x_list li a{
		width: 100%;
		display: block;
	}
	.x_list li a img{
		width: 290px;
    	height: 193px;
    	display: block;
	}
	.x_list li:last-child{
		margin-right: 0;
	}
	.x_list li h3{
		position: relative;
    	box-sizing: border-box;
    	padding: 0 12px;
    	border: 1px solid #ccc;
    	border-top: 0;
    	height: 83px;
    	color: #222;
    	background: #fff;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
	}
	.x_list li h3 .t_line{
		display: block;
    	padding-top: 14px;
    	font-weight: 700;
	}
	.global_footer{
		width: 100%;
    	height: 100%;
    	background: #000;
    	overflow: hidden;
	}
	.global_footer .footer_inner{
		width: 100%;
    	margin: 0 auto;
    	position: relative;
	}
	.global_footer .footer_inner .inner_link{
		width: 1120px;
    	height: 239px;
    	margin: 0 auto;
    	border-bottom: 1px solid #333;
	}
	.global_footer .footer_inner .inner_link dl{
		width: 111px;
   		margin-right: 90px;
    	text-align: left;
    	margin-top: 54px;
    	float: left;
	}
	.global_footer .footer_inner .inner_link dl dt{
		font-size: 16px;
    	color: #fff;
	}
	.global_footer .footer_inner .inner_link dl dd{
		margin-top: 7px;
    	position: relative;
	}
	.global_footer .footer_inner .inner_link dl dd a{
		display: block;
    	height: 30px;
    	font-size: 14px;
    	line-height: 43px;
    	color: #999;
	}
	.global_footer .footer_inner .inner_link .wechat_img{
		height: 123px;
		background: url('img/77.png') no-repeat 0 10px;
	}
	.global_footer .footer_inner .inner_link dl.footer_appDownload{
		margin-right: 0;
	}
	.global_footer .footer_inner .inner_link .app_img{
		height: 123px;
		background: url('img/88.png') no-repeat 0 10px;
	}
	.inner_tag{
		width: 1120px;
    	margin: 0 auto;
    	text-align: left;
    	overflow: hidden;
    	border-bottom: 1px solid #333;
	}
	.inner_tag div{
		width: 200px;
    	float: left;
    	overflow: hidden;
	}
	.inner_tag ul{
		list-style: none;
    	padding: 10px 0;
    	overflow: hidden;
	}
	.inner_tag ul span{
		border-top: 1px solid #fff;
    	display: inline-block;
    	padding-top: 20px;
    	position: relative;
    	top: -20px;
    	width: 60px;
	}
	.inner_tag .inner_tag_seolink{
		float: right;
    	width: 920px;
	}
	.inner_tag ul li, .inner_tag ul span{
		width: auto;
    	height: 20px;
    	margin: 10px 50px 10px 0;
    	float: left;
    	font-size: 14px;
    	color: #666;
    	line-height: 20px;
	}
	.inner_tag ul li a, .inner_tag ul span a{
		color: #666;
	}
	.global_footer .footer_message{
		width: 100%;
    	height: 80px;
	}
	.global_footer .footer_message .footer_pcMsg{
		max-width: 1120px;
    	margin: 0 auto;
	}
	.global_footer .footer_message .inner_copyr{
    	margin: 24px auto;
    	text-align: right;
	}
	.global_footer .footer_message .inner_copyr .inner_lisense{
		position: relative;
    	top: 2px;
	}
	.global_footer .footer_message .inner_copyr .inner_no{
		display: inline-block;
    	margin-left: 7px;
    	font-size: 12px;
	}
	.global_footer .footer_message .inner_copyr .inner_no a{
		color: #666;
	}
	.global_footer .footer_message .inner_copyr .inner_img66{
		display: inline-block;
    	vertical-align: middle;
	}
	.global_footer .footer_message .inner_copyr .inner_img66 a{
		display: block;
		line-height: 0;
	}


	/*前面hover*/

	.account_nav>li:nth-of-type(1):hover{
		transition: 0.5s;
		background-color: skyblue;
	}
	.account_nav>li:nth-of-type(2):hover{
		transition: 0.5s;
		background-color: #3a456e;
	}
	.account_nav>li:nth-of-type(3):hover{
		transition: 0.5s;
		background-color: #0075ff;
	}
	
	/*官方视频动起来*/
	.desc:hover{
			margin-top:-5px;
			box-shadow: 2px 1px 0.5 0.2 rgba(125,125,1,0.5); 
	}